.gallery-project {
  &-navigation {
    width: 100%;
  }
  &-image {
    width: 100%;
    margin: 1rem auto;

    @media (min-width: 768px) {
      width: calc((100% / 3) - 1rem);
      margin: 1rem 0.5rem;
    }
  }
}
