@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.types {
  background-color: #efebe5;

  &-title {
    width: 100%;
    text-align: center;

    h2 {
      @extend .hl-three;
      font-weight: 600;
    }
  }

  &-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-type {
      width: calc(100%);
      margin-bottom: 5rem;

      @media (min-width: 768px) {
        width: calc((100% / 3) - 1.5rem);
        margin-bottom: 0;

        &:nth-of-type(1) {
          margin-right: 1.5rem;
        }

        &:nth-of-type(2) {
          margin-right: 0.75rem;
          margin-left: 0.75rem;
        }

        &:nth-of-type(3) {
          margin-left: 1.5rem;
        }
      }

      &-image {
        position: relative;

        &-title {
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;
          padding: 1rem 4rem;
          background-color: rgba(255, 255, 255, 0.75);
          transform: translateY(-50%);
          text-align: center;

          h3 {
            @extend .hl-three;
            margin: 0;
          }
        }
      }

      &-content {
        width: 100%;

        p {
          @extend .p-two;
        }

        &-bold {
          width: 100%;
          padding: 2.75rem 0;

          p {
            margin: 0;
            font-weight: 600;
          }
        }
      }
    }
  }
}
