@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/paragraphs";

.resources-post-nav {
  background-color: $whiteColor;
  margin-top: 5rem;
  padding-bottom: 5rem;

  &-wrapper {
    border-top: solid 0.1rem $shadowColor;
  }

  a {
    @extend .p-two;
    color: $blackColor;
    text-transform: uppercase;

    &:hover {
      color: $tertiaryColor;
    }

    span {
      display: inline-block;
    }
  }

  &-prev {
    width: calc(33.333333%);

    @media (min-width: 768px) {
      padding-left: 5rem;
    }

    @media (min-width: 1025px) {
      padding-left: 10rem;
    }

    &-alone {
      width: calc(66.666666%);
    }

    a {
      span {
        padding-right: 1rem;
      }
    }
  }

  &-home {
    width: calc(33.333333%);
    text-align: center;
  }

  &-next {
    width: calc(33.333333%);
    text-align: right;

    @media (min-width: 768px) {
      padding-right: 5rem;
    }

    @media (min-width: 1025px) {
      padding-right: 10rem;
    }

    &-alone {
      width: calc(66.666666%);
    }

    a {
      span {
        padding-left: 1rem;
      }
    }
  }
}
