---
import "./articleNav.scss";
import Wrapper from "../../shared/Wrapper.astro";
---

<div class="resources-post-nav">
  <Wrapper classes="resources-post-nav-wrapper">
    {
      Astro.props.data.prev !== null ? (
        <div
          class={`resources-post-nav-prev${Astro.props.data.next === null ? " resources-post-nav-prev-alone" : ""}`}
        >
          <a href={`/news-resources/${Astro.props.data.prev.slug}`}>
            <span>&lt;</span>Previous Article
          </a>
        </div>
      ) : null
    }
    <div class="resources-post-nav-home">
      <a href={`/news-resources`}> Back To Articles </a>
    </div>
    {
      Astro.props.data.next !== null ? (
        <div
          class={`resources-post-nav-next${Astro.props.data.prev === null ? " resources-post-nav-next-alone" : ""}`}
        >
          <a href={`/news-resources/${Astro.props.data.next.slug}`}>
            Next Article<span>&gt;</span>
          </a>
        </div>
      ) : null
    }
  </Wrapper>
</div>
