---
import Button from "../components/shared/Button.astro";
import Headline from "../components/shared/Headline.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Wrapper from "../components/shared/Wrapper.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div>
    <Wrapper>
      <div>
        <Headline ele="h1" hlstyle="one"
          >Aliquam tincidunt mauris eu risus.</Headline
        >
        <Headline ele="h1" hlstyle="two"
          >Aliquam tincidunt mauris eu risus.</Headline
        >
        <Headline ele="h1" hlstyle="three"
          >Aliquam tincidunt mauris eu risus.</Headline
        >
      </div>
      <div>
        <Paragraph ele="p" pstyle="one"
          >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
          hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
          vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
          laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor
          eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</Paragraph
        >
        <Paragraph ele="p" pstyle="two"
          >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
          hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
          vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
          laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor
          eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</Paragraph
        >
        <Paragraph ele="p" pstyle="three"
          >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
          hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
          vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
          laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor
          eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</Paragraph
        >
      </div>
      <div>
        <Button ele="a" btnstyle="one">Our Services</Button>
        <Button ele="a" btnstyle="two">Our Services</Button>
        <Button ele="button" btnstyle="one">Our Services</Button>
        <Button ele="button" btnstyle="two">Our Services</Button>
      </div>
    </Wrapper>
  </div>
</Layout>
