@use "../../../../styles/abstracts/" as *;
@use "../../../../styles/global/headlines";
@use "../../../../styles/global/paragraphs";

.post-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: $secondaryColor;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &-image {
    position: relative;
    width: 100%;
    height: 36rem;

    @media (min-width: 768px) {
      width: 35%;
      height: auto;
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-intro {
    width: calc(100%);
    padding: 6rem 4rem;

    @media (min-width: 768px) {
      width: calc(65% - 2rem);
      margin-left: 2rem;
    }

    &-title {
      width: 100%;

      h2 {
        a {
          @extend .p-one;
          color: $whiteColor;
          font-weight: 600;
        }
      }
    }

    &-excerpt {
      width: 100%;
      margin-top: 3rem;

      p {
        @extend .p-one;
        color: $whiteColor;
      }
    }

    &-button {
      width: 100%;

      a {
        @extend .p-one;
        color: $whiteColor;
        text-transform: uppercase;
      }
    }
  }
}
