---
// @ts-nocheck
import Wrapper from "../../shared/Wrapper.astro";
import Card from "./Card/Card.astro";
import "./postCards.scss";

const { allPosts } = Astro.props;
---

<div class="articles">
  <Wrapper classes="articles-wrapper">
    {
      allPosts.map((post) => {
        return <Card post={post.node} />;
      })
    }
  </Wrapper>
</div>
