---
// @ts-nocheck
import Wrapper from "../../shared/Wrapper.astro";
import "./callouts.scss";

const { callouts } = Astro.props.data;
---

<section id="callout-section" class="callouts">
  <Wrapper classes="callouts-wrapper">
    {
      callouts.map((callout) => {
        return (
          <div class="callouts-callout">
            <div>
              <h2 set:html={callout.callout} />
            </div>
          </div>
        );
      })
    }
  </Wrapper>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const trigger = document.querySelector("#callout-section");
  const callout = document.querySelectorAll(".callouts-callout");

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: trigger,
      start: "top 50%",
      markers: false,
    },
  });

  tl.fromTo(
    callout,
    { autoAlpha: 0, y: 200 },
    {
      autoAlpha: 1,
      y: 0,
      ease: "power1.out",
      stagger: {
        each: 0.5,
      },
    },
  );
</script>
