@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.callouts {
  &-callout {
    width: calc((100% / 2) - 1rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 6rem 2rem;
    background-color: $tertiaryColor;

    &:nth-of-type(1) {
      margin-right: 1rem;
    }

    &:nth-of-type(2) {
      margin-right: 0rem;
      margin-left: 1rem;
    }

    &:nth-of-type(3) {
      margin-right: 1rem;
      margin-left: 0rem;
    }

    &:nth-of-type(4) {
      margin-left: 1rem;
    }

    @media (min-width: 768px) {
      width: calc((100% / 4) - 1rem);
      margin-top: 0;
      margin-bottom: 0;

      &:nth-of-type(2) {
        margin-right: 0.675rem;
        margin-left: 0.325rem;
      }

      &:nth-of-type(3) {
        margin-right: 0.325rem;
        margin-left: 0.675rem;
      }
    }

    h2 {
      @extend .hl-three;
      margin: 0;
      text-align: center;
    }
  }
}
