@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.callouts {
  &-callout {
    width: calc((100% / 4) - 1rem);
    padding: 6rem 2rem;
    background-color: $tertiaryColor;

    &:nth-of-type(1) {
      margin-right: 1rem;
    }

    &:nth-of-type(2) {
      margin-right: 0.675rem;
      margin-left: 0.325rem;
    }

    &:nth-of-type(3) {
      margin-right: 0.325rem;
      margin-left: 0.675rem;
    }

    &:nth-of-type(4) {
      margin-left: 1rem;
    }

    h2 {
      @extend .hl-three;
      margin: 0;
      text-align: center;
    }
  }
}
