@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.values {
  padding-bottom: 5rem;

  &-title {
    width: 100%;
    max-width: 100rem;
    padding-top: 5rem;

    h2 {
      @extend .hl-three;
      font-weight: 600;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 100rem;

    &-item {
      width: calc(50% - 3rem);

      &:nth-of-type(2n + 1) {
        margin-right: 3rem;
      }

      &:nth-of-type(2n + 2) {
        margin-left: 3rem;
      }
    }
  }
}
