@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.collaborate {
  position: relative;
  padding: 9.5rem 0;

  &-wrapper {
    position: relative;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 100;
  }

  &-content {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(70%);
    }

    &-title {
      width: 100%;

      h2 {
        @extend .hl-two;
        color: $whiteColor;
        font-weight: 600;
      }
    }

    &-paragraph {
      width: 100%;

      p {
        @extend .p-one;
        color: $whiteColor;
      }
    }

    &-link {
      width: 100%;

      a {
        @extend .p-one;
        color: $whiteColor;
        text-transform: uppercase;
      }
    }
  }

  &-image {
    width: calc(100%);
    max-width: 20rem;
    margin-top: 3rem;

    @media (min-width: 768px) {
      width: calc(30% - 4rem);
      max-width: 100%;
      margin-top: 0;
      margin-right: 4rem;
    }
  }

  &-bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a77c46;
    opacity: 0.85;
    z-index: 10;
  }
}
