@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.graphic-callout {
  background-color: $secondaryColor;
  padding: 8rem 0;

  &-wrapper {
    max-width: 110rem !important;
  }

  &-titles {
    width: 100%;

    h2 {
      @extend .p-one;
      margin: 0;
      color: $whiteColor;
    }

    h3 {
      @extend .hl-three;
      margin: 0;
      color: $whiteColor;
    }
  }

  &-image {
    max-width: 90rem;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
  }

  &-buttons {
    width: 100%;
    text-align: center;
  }
}
